@charset "UTF-8";

body,
html {
  max-height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}

.abs { position: absolute; }

#page {
  height: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  transform-origin: top center;
  width: 1024px;
}

.wrap {
  display: flex;
  height: 100%;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #172733;
}

.wrap .over-wrap {
  position: relative;
}

.wrap .bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}

.wrap .bg.hide { opacity: 0; }

.wrap .bg1 {
  background: #fff;
}

.main-m {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 40px;
  width: 152px;
  height: 40px;

  display: flex;
  justify-content: space-between;

  opacity: 1;
  transition: all 0.5s;
}

.main-m.hide { z-index: 0; opacity: 0; }

.main-m a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.25s;
}

.main-m a.hide {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}

.main-m .prev-move {
  background-image: url(../images/02/prev.svg);
}

.main-m .home-move {
  background-image: url(../images/02/home.svg);
}

.main-m .next-move {
  background-image: url(../images/02/next.svg);
}

.sl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  opacity: 0;
  transition: all 0.75s;
}

.sl._show {
  opacity: 1;
}

.sl2 { background-image: url(../images/02/bg.png); }

.sl2 h1 {
  left: 40px;
  top: 104px;

  font-weight: 800;
  font-size: 40px;
  line-height: 94.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sl2 h2 {
  left: 40px;
  top: 150px;

  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sl2 h3 {
  left: 40px;
  top: 213px;

  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sl2 h4 {
  left: 40px;
  top: 305px;

  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.sl2 .list1 {
  top: 348px;
  left: 66px;
}

.sl2 .list {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  color: #FFFFFF;
}

.sl2 .list li {
  display: block;
  position: relative;
  margin-bottom: 16px;
  list-style: none;
}

.sl2 .list li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: -25px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #027498;
}

.sl2 .line {
  top: 482px;
  left: 40px;
}

.sl2 .line li {
  display: block;
  width: 717px;
  height: 62px;
  list-style: none;

  margin-bottom: 16px;
  padding-left: 44px;

  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;

  background: linear-gradient(-45deg, rgba(2, 116, 152, 0) 0%, rgba(2, 116, 152, 0.7) 100%);
}

.mp2 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/mp2/bg.png);
}

.mp2 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-image: url(../images/02/mp2/x.svg);
}

.mp2 .home {
  top: 40px;
  left: 96px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-image: url(../images/02/mp2/home.svg);
}

.mp2 h1 {
  left: 152px;
  top: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 94.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #027498;
}

.mp2 h2 {
  left: 40px;
  top: 92px;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #565656;
}

.mp2 h3 {
  left: 243px;
  top: 175px;

  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #444444;
}

.mp2 h3 span { color: #027498; }

.mp2 h4 {
  left: 41px;
  top: 569px;

  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: #565656;
}

.mp2 h5 {
  left: 41px;
  top: 598px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #565656;
}

.mp2 h6 {
  left: 40px;
  top: 675px;
  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  color: #565656;
}

.mp2 .q {
  top: 574px;

  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  text-align: center;
  text-transform: lowercase;
  color: #565656;
}

.mp2 .q1 {
  width: 89px;
  height: 60px;
  left: 265px;
}

.mp2 .q2 {
  width: 112px;
  height: 20px;
  left: 345px;
}

.mp2 .q3 {
  width: 112px;
  height: 36px;
  left: 437px;
}

.mp2 .q4 {
  width: 112px;
  height: 36px;
  left: 529px;
}

.mp2 .q5 {
  width: 69px;
  height: 36px;
  left: 635px;
}

.mp2 .q6 {
  width: 112px;
  height: 36px;
  left: 710px;
}

.mp2 .q7 {
  width: 112px;
  height: 19px;
  left: 807px;
}

.mp2 .q8 {
  width: 112px;
  height: 19px;
  left: 899px;
}

.mp2 .w {
  top: 621px;
  width: 82px;
  height: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  color: #565656;
}

.mp2 .w1 { left: 320px; }
.mp2 .w2 { left: 476px; }
.mp2 .w3 { left: 632px; }

.mp2 .gg1 { left: 286px; }
.mp2 .gg2 { left: 382px; }
.mp2 .gg3 { left: 473px; }
.mp2 .gg4 { left: 564px; }
.mp2 .gg5 { left: 650px; }
.mp2 .gg6 { left: 743px; }
.mp2 .gg7 { left: 843px; }
.mp2 .gg8 { left: 929px; }

.mp2 .gg {
  bottom: 211px;
}

.mp2 .gg .g1 {
  bottom: 0;
  left: 0;
  width: 8px;
  background-color: #A5A5A5;
}

.mp2 .gg .g2 {
  bottom: 0;
  left: 16px;
  width: 8px;
  background-color: #C6E3E9;
}

.mp2 .gg .g3 {
  bottom: 0;
  left: 32px;
  width: 8px;
  background-color: #027498;
}

.mp2 .gg .g3 span {
  bottom: 100%;
  left: calc(50% - 75px);
  width: 150px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #027498;
}