.preloader {
  width: 100vw;
  height: 100vh;
  background: #D8F7FD;
  position: fixed;
  z-index: 100;
}

.logo-text {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: 50%;
    transform: translate(-20px, 10px);

}

@media screen and (max-width: 768px) and (orientation:portrait) {
  .logo-text {
  transform: translate(-20px,70px) ;
  /* // perspective: none; */
}
}
