@charset "UTF-8";

body,
html {
  max-height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}

.abs { position: absolute; }

#page {
  height: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  transform-origin: top center;
  width: 1024px;
}

.wrap {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: linear-gradient(160deg, #ebe8e8 0%, #c79393 100%);
}

.wrap .common-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  transition: all 0.75s;
}

.wrap .common-bg.hide { opacity: 0; }

.wrap .over-wrap {
  position: relative;
}

.main-m {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 40px;
  width: 152px;
  height: 40px;

  display: flex;
  justify-content: space-between;
}

.main-m.hide { z-index: 0; opacity: 0; }

.main-m a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.25s;
}

.main-m a.hide {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}

.main-m .prev-move {
  background-image: url(../images/01/prev.svg);
}

.main-m .home-move {
  background-image: url(../images/01/home.svg);
}

.main-m .next-move {
  background-image: url(../images/01/next.svg);
}

.sl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  opacity: 0;
}

.sl._show {
  z-index: 1;
  opacity: 1;
}

.sl1 { background-image: url(../images/01/bg.png); }
.sl2 {}

.sl1 .tub {
  left: 99px;
  top: 104px;
  width: 288px;
  height: 600px;
  background-image: url(../images/01/tub.png);
}

.sl1 .like {
  width: 748px;
  height: 104px;
  left: 276px;
  top: 590px;

  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.81) 59.9%, rgba(255, 255, 255, 0.48) 89.06%, rgba(255, 255, 255, 0) 100%);

  padding-left: 146px;

  display: flex;
  align-items: center;

  opacity: 0;
  transform: translateX(50%);
  transition: all 0.5s;
}

.sl1 .like.ac { opacity: 1; transform: translateX(0); }

.sl1 .like p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #565656;
  text-shadow: 0px 0px 15px #FFFFFF;
}

.sl1 .like form {
  top: -7px;
  left: 593px;
}

.sl1 .like form input {
  display: block;
  width: 145px;
  height: 144px;
  background-image: url(../images/01/like.svg);
  background-color: transparent;
  cursor: pointer;
  border: 0;
  transition: all 0.5s;
}

.sl1 .like form input[disabled] {
  background-image: url(../images/01/clicked.svg);
}

.sl1 h1 {
  top: 259px;
  left: 398px;
  font-weight: 300;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
  text-shadow: 0px 4px 80px rgba(255, 255, 255, 0.45);
}

.sl1 h1 span {
  display: block;
  color: #C71A1A;
}

.sl1 h2 {
  top: 425px;
  left: 422px;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}

.sl1 h2 span {
  display: block;
  margin-top: 5px;
  font-weight: 300;
  line-height: 37px;
}

.sl2 .tub {
  left: 99px;
  top: 104px;
  width: 288px;
  height: 600px;
  background-image: url(../images/01/tub.png);
}

.sl2 .sl2-links {
  z-index: 5;
  width: 109px;
  height: 130px;
  border-radius: 35px;
  transition: all 0.25s;
  transform: translateY(40px);
  opacity: 0;
}

.sl2 .sl2-links.ac {
  transform: translateY(0);
  opacity: 1;
}

.sl2 .sl2-links span {
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFF;
}

.sl2 .sl2-link1 span { top: 105px; left: 0; }
.sl2 .sl2-link2 span { top: 104px; left: 2px; }
.sl2 .sl2-link3 span { top: 107px; left: 5px; }
.sl2 .sl2-link4 span { top: 105px; left: 2px; }

.sl2 .sl2-link1 {
  top: 610px;
  left: 445px;
}

.sl2 .sl2-link1:before,
.sl2 .sl2-link2:before,
.sl2 .sl2-link3:before,
.sl2 .sl2-link4:before {
  content: '';
  position: absolute;
  width: 148px;
  height: 39px;
  background-image: url(../images/02/ishadow.png);
}

.sl2 .sl2-link1:before { top: 70px; left: -30px; }
.sl2 .sl2-link2:before { top: 80px; left: -20px; }
.sl2 .sl2-link3:before { top: 73px; left: -15px; }
.sl2 .sl2-link4:before { top: 73px; left: -15px; }

.sl2 .sl2-link1:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 93px;
  height: 92px;
  background-image: url(../images/02/item1.png);
  background-repeat: no-repeat;
}

.sl2 .sl2-link2 {
  top: 611px;
  left: 580px;
}

.sl2 .sl2-link2:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 13px;
  width: 79px;
  height: 79px;
  background-image: url(../images/02/item2.png);
  background-repeat: no-repeat;
}

.sl2 .sl2-link3 {
  top: 610px;
  left: 717px;
}

.sl2 .sl2-link3:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 101px;
  height: 101px;
  background-image: url(../images/02/item3.png);
  background-repeat: no-repeat;
}

.sl2 .sl2-link4 {
  top: 610px;
  left: 860px;
}

.sl2 .sl2-link4:after {
  content: '';
  position: absolute;
  top: -3px;
  left: -5px;
  width: 107px;
  height: 107px;
  background-image: url(../images/02/item4.png);
  background-repeat: no-repeat;
}

.sl2 .ovec {
  transform: translateY(-80px);
  opacity: 0;
  transition: all 0.5s;
}

.sl2 .ovec.ac {
  z-index: 1;
  transform: translateY(0);
  opacity: 1;
}

.sl2 .ovec a { background-image: url(../images/02/o2.svg); }

.sl2 .vec1 {
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/v1.png);
}

.sl2 .vec1 a {
  top: 193px;
  left: 585px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sl2 .vec2 {
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/v2.png);
}

.sl2 .vec2 a {
  top: 201px;
  left: 579px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sl2 .vec3 {
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/v3.png);
}

.sl2 .vec3 a {
  top: 190px;
  left: 550px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sl2 .vec4 {
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/v4.png);
}

.sl2 .vec4 a {
  top: 217px;
  left: 564px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sl2 .vec1 .cube {
  top: 65px;
  left: 417px;
  width: 361px;
  height: 359px;
  background-image: url(../images/02/cube1.png);
}

.sl2 .vec2 .cube {
  top: 100px;
  left: 447px;
  width: 307px;
  height: 306px;
  background-image: url(../images/02/cube2.png);
}

.sl2 .vec3 .cube {
  top: 47px;
  left: 392px;
  width: 383px;
  height: 383px;
  background-image: url(../images/02/cube3.png);
}

.sl2 .vec4 .cube {
  top: 56px;
  left: 394px;
  width: 414px;
  height: 414px;
  background-image: url(../images/02/cube4.png);
}

.sl2 .ovec .text {
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #565656;
}

.sl2 .vec1 .text {
  top: 402px;
  left: 450px;
  font-size: 27px;
}

.sl2 .vec2 .text {
  top: 423px;
  left: 496px;
}

.sl2 .vec3 .text {
  top: 408px;
  left: 545px;
  font-size: 48px;
}

.sl2 .vec4 .text {
  top: 431px;
  left: 632px;
}

.m_pop1 {
  display: none;
  z-index: 2;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/pop1.png);
}

.m_pop1 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/02/prev.svg);
}

.m_pop1 .m_pop1-p1 {
  top: 40px;
  left: 96px;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;

  color: #565656;
  text-shadow: 0px 0px 128px #A6C1EC;
}

.m_pop1 .m_pop1-p2 {
  left: 96px;
  top: 66px;

  font-weight: 800;
  font-size: 16px;
  line-height: 100%;

  color: #565656;
  text-shadow: 0px 0px 128px #A6C1EC;
}

.m_pop1 iframe {
  position: absolute;
  top: 116px;
  left: 0;
}

.m_pop2 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/pop2.png);
}

.m_pop2 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/02/prev.svg);
}

.m_pop2 .q1 {
  width: 880px;
  height: 41px;
  left: 96px;
  top: 43px;

  font-weight: 800;
  font-size: 40px;
  line-height: 94.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #C71A1A;
}

.m_pop2 .q1 span {
  font-weight: 300;
  color: #000;
}

.m_pop2 .q2 {
  width: 870px;
  height: 41px;
  left: 98px;
  top: 87px;

  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop2 .plsh {
  width: 493px;
  height: 77px;
  left: 0;

  font-weight: 800;
  font-size: 20px;
  line-height: 26px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 41px;

  color: #FFF;
  background-image: url(../images/02/plsh1.png);
}

.m_pop2 .plsh1 { top: 194px; }
.m_pop2 .plsh2 { top: 286px; }

.m_pop2 .list {
  left: 66px;
  top: 405px;

  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #444;
}

.m_pop2 .list li { display: block; margin-bottom: 28px; }

.m_pop2 .list:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -26px;
  width: 11px;
  height: 296px;
  background-image: url(../images/02/line.png);
}

.m_pop2 .q3 {
  height: 31px;
  left: 641px;
  right: 21px;
  top: 679px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: #565656;
}

.m_pop2 .tub {
  bottom: 0;
  left: 129px;
  width: 728px;
  height: 724px;
  background-image: url(../images/02/t2.png);
}

.m_pop3 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/pop3.png);
}

.m_pop3 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/02/prev.svg);
}

.m_pop3 .w1 {
  width: 593px;
  height: 45px;
  left: 40px;
  top: 104px;

  font-weight: 300;
  font-size: 48px;
  line-height: 94.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop3 .w1 span { color: #C00000; font-weight: 800; }

.m_pop3 .w3 {
  width: 524px;
  height: 58px;
  left: 45px;
  top: 230px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.m_pop3 .w4 {
  width: 415px;
  height: 58px;
  left: 569px;
  top: 230px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.m_pop3 .w5 {
  width: 776px;
  height: 55px;
  left: 43px;
  top: 161px;

  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop3 .w12,
.m_pop3 .w12s {
  top: 320px;

  font-weight: 800;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFF;
}

.m_pop3 .w12 { left: 620px; }
.m_pop3 .w12s { left: 797px; }

.m_pop3 .w13,
.m_pop3 .w14,
.m_pop3 .w15,
.m_pop3 .w16 {
  top: 601px;

  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.m_pop3 .w13 {
  width: 124px;
  height: 50px;
  left: 88px;
}

.m_pop3 .w14 {
  width: 162px;
  height: 50px;
  left: 380px;
}

.m_pop3 .w15 {
  width: 124px;
  height: 50px;
  left: 623px;
}

.m_pop3 .w16 {
  width: 124px;
  height: 50px;
  left: 811px;
}

.m_pop3 .o {
  top: 558px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../images/02/o.svg);
}

.m_pop3 .o1 { left: 302px; }

.m_pop4 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/pop4.png);
}

.m_pop4 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../images/02/prev.svg);
}

.m_pop4 .e1 {
  width: 880px;
  height: 41px;
  left: 96px;
  top: 43px;

  font-weight: 800;
  font-size: 40px;
  line-height: 94.3%;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #C71A1A;
}

.m_pop4 .e1 span { font-weight: 300; color: #000; }

.m_pop4 .e2 {
  width: 870px;
  height: 41px;
  left: 98px;
  top: 87px;

  font-weight: 300;
  font-size: 24px;
  line-height: 100%;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop4 .list {
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #444444;
}

.m_pop4 .list li {
  display: block;
  position: relative;
  margin-bottom: 32px;
}

.m_pop4 .list li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -26px;
  width: 11px;
  height: 11px;
  background-image: url(../images/02/mark.png);
}

.m_pop4 .list1 { top: 182px; left: 91px; }
.m_pop4 .list2 { top: 182px; left: 409px; }

.m_pop4 .plsh {
  left: 0;
  width: 1024px;
  height: 77px;
  background-image: url(../images/02/plsh2.png);

  padding-left: 41px;
  font-weight: 800;
  font-size: 20px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.m_pop4 .plsh1 { top: 438px; }
.m_pop4 .plsh2 { top: 530px; }
.m_pop4 .plsh3 { top: 622px; }

.m_pop4 .tub {
  right: 0;
  bottom: 0;
  width: 512px;
  height: 640px;
  background-image: url(../images/02/t1.png);
}

.m_pop8 {
  display: none;
  z-index: 2;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/02/pop8.png);
}

.m_pop8 .y1 {
  width: 834px;
  height: 36px;
  left: 40px;
  top: 26px;

  font-weight: 300;
  font-size: 36px;
  line-height: 99.8%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #444444;
}

.m_pop8 .y1s {
  width: 734px;
  height: 28px;
  left: 40px;
  top: 68px;

  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop8 .y2 {
  width: 264px;
  height: 32px;
  left: 368px;
  top: 118px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop8 .y3 {
  width: 351px;
  height: 33px;
  left: 633px;
  top: 117px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #565656;
}

.m_pop8 .y5,
.m_pop8 .y6 {
  width: 516px;
  height: 50px;
  left: 65px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;
}

.m_pop8 .y5 { top: 150px; }
.m_pop8 .y6 { top: 414px; }

.m_pop8 .y {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #444444;
}

.m_pop8 .y span { color: #F20895; }

.m_pop8 .y7 {
  left: 135px;
  top: 214px;
}

.m_pop8 .y8 {
  left: 368px;
  top: 214px;
}

.m_pop8 .y9 {
  left: 510px;
  top: 214px;
}

.m_pop8 .y10 {
  left: 639px;
  top: 214px;
}

.m_pop8 .y11 {
  left: 755px;
  top: 214px;
}

.m_pop8 .y12 {
  left: 895px;
  top: 215px;
}

.m_pop8 .y13 {
  left: 43px;
  top: 484px;
}

.m_pop8 .y14 {
  left: 215px;
  top: 483px;
}

.m_pop8 .y15 {
  left: 368px;
  top: 483px;
}

.m_pop8 .y16 {
  left: 510px;
  top: 483px;
}

.m_pop8 .y17 {
  left: 675px;
  top: 483px;
}

.m_pop8 .y18 {
  left: 815px;
  top: 483px;
}