@charset "UTF-8";

body,
html {
  max-height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}

.abs { position: absolute; }

#page {
  height: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  transform-origin: top center;
  width: 1024px;
}

.wrap { width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.wrap .over-wrap {
  position: relative;
}

.main-m {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 40px;
  width: 152px;
  height: 40px;

  display: flex;
  justify-content: space-between;

  opacity: 1;
  transition: all 0.5s;
}

.main-m.hide { z-index: 0; opacity: 0; }

.main-m a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.25s;
}

.main-m a.hide {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}

.main-m .prev-move {
  background-image: url(../images/04/prev.svg);
}

.main-m .home-move {
  background-image: url(../images/04/home.svg);
}

.main-m .next-move {
  background-image: url(../images/04/next.svg);
}

.sl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  opacity: 0;
  transition: all 0.75s;
}

.sl._show {
  opacity: 1;
}

.sl4 { background-image: url(../images/04/bg.png); }

.sl4 h1 {
  left: 40px;
  top: 104px;

  font-weight: 800;
  font-size: 40px;
  line-height: 94.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #027498;
}

.sl4 h2 {
  left: 40px;
  top: 150px;

  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #565656;
}

.sl4 h3 {
  left: 40px;
  top: 213px;

  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #565656;
}

.sl4 .line {
  top: 313px;
  left: 126px;
}

.sl4 .line li {
  display: block;
  position: relative;
  width: 762px;
  height: 96px;
  list-style: none;

  margin-bottom: 48px;
  padding-left: 76px;

  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;

  background: linear-gradient(-45deg, rgba(2, 116, 152, 0) 0%, rgba(2, 116, 152, 0.7) 100%);
}

.sl4 .line li:before {
  content: '';
  position: absolute;
  top: -25px;
  left: -100px;
  width: 172px;
  height: 154px;
}

.sl4 .line .li1:before { background-image: url(../images/04/f1.png); }
.sl4 .line .li2:before { background-image: url(../images/04/f2.png); }
.sl4 .line .li3:before { background-image: url(../images/04/f3.png); }

.sl4 .tub {
  bottom: 0;
  right: 0;
  width: 423px;
  height: 768px;
  background-image: url(../images/04/tub.png);
}

.mp4 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/04/mp4/bg.png);
}

.mp4 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-image: url(../images/04/mp4/x.svg);
}

.mp4 .home {
  top: 40px;
  left: 96px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-image: url(../images/04/mp4/home.svg);
}

.mp4 h1 {
  left: 152px;
  top: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 94.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #027498;
}

.mp4 h2 {
  left: 40px;
  top: 92px;

  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #565656;
}

.mp4 h3 {
  left: 40px;
  top: 635px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}

.mp4 h4 {
  left: 40px;
  top: 699px;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}

.mp4 h5 {
  left: 392px;
  top: 490px;

  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  color: #565656;
}

.mp4 h5 span { font-weight: 800; color: #027498; }

.mp4 h6 {
  left: 391px;
  top: 554px;

  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #027498;
}

.mp4 .h7 {
  left: 391px;
  top: 586px;

  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
}

.mp4 .h7 span { color: #027498; }

.mp4 .q {
  top: 370px;

  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  text-align: center;
  text-transform: lowercase;
  color: #565656;
}

.mp4 .q1 {
  width: 81px;
  height: 60px;
  left: 398px;
}

.mp4 .q2 {
  width: 84px;
  height: 20px;
  left: 499px;
}

.mp4 .q3 {
  width: 103px;
  height: 41px;
  left: 592px;
}

.mp4 .q4 {
  width: 75px;
  height: 28px;
  left: 709px;
}

.mp4 .q5 {
  width: 112px;
  height: 20px;
  left: 794px;
}

.mp4 .q6 {
  width: 76px;
  height: 28px;
  left: 915px;
}

.mp4 .w {
  top: 427px;
  width: 82px;
  height: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  color: #565656;
}

.mp4 .w1 { left: 428px; }
.mp4 .w2 { left: 588px; }
.mp4 .w3 { left: 745px; }
.mp4 .w4 { left: 904px; }

.mp4 .gg1 { left: 412px; }
.mp4 .gg2 { left: 515px; }
.mp4 .gg3 { left: 618px; }
.mp4 .gg4 { left: 721px; }
.mp4 .gg5 { left: 824px; }
.mp4 .gg6 { left: 927px; }

.mp4 .gg {
  bottom: 408px;
}

.mp4 .gg .g1 {
  bottom: 0;
  left: 0;
  width: 8px;
  background-color: #BDD7EE;
}

.mp4 .gg .g2 {
  bottom: 0;
  left: 16px;
  width: 8px;
  background-color: #14BAB8;
}

.mp4 .gg .g3 {
  bottom: 0;
  left: 32px;
  width: 8px;
  background-color: #00B0F0;
}

.mp4 .gg .g4 {
  bottom: 0;
  left: 48px;
  width: 8px;
  background-color: #027498;
}

.mp4 .gg .g4 span {
  bottom: 100%;
  left: calc(50% - 75px);
  width: 150px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #027498;
}