@font-face {
    font-family: 'GillSansLightC';
    src: url('../fonts/GillSansLightC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 300;
}

*, :after, :before {
    box-sizing: border-box;
}


.onair {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #C71A1A;
}

.live {
    border: 2px solid #C71A1A;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #C71A1A;
    padding: 15px 20px;
    position: absolute;
    left: 80px;
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    overflow: auto;
    background: linear-gradient(180deg, rgba(223, 199, 255, 0) 0%, #9BD3D4 100%), linear-gradient(252.75deg, #9BD3D4 6.22%, #F2FAFF 45.11%, #9BD3D4 99.56%);
}

main {
    min-height: 100%;
}


.container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1840px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 66px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #007DB7;
    margin: 68px 0 32px 0;
}

.subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #444444;
    max-width: 900px;
    margin: 0 auto;
}

input[type=text], input[type=email] {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #444444;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    height: 65px;
    max-width: 464px;
    width: 100%;
    padding: 18px 20px;
}

.email_input {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.date {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #007DB7;
}

.date__pos {
    margin-top: 48px;
    margin-bottom: 24px;
}

.time {
    display: flex;
    &__to {
        min-width: 65px;
    }

    &__from {
        min-width: 58px;
    }

    &__sep {
        padding: 0 4px;
    }
}

.accordion {
    position: relative;
    margin-bottom: 4px;

    &__summary {
        background: rgba(255, 255, 255, 0.26);
        min-height: 65px;
        display: flex;
    
    }

    &__details {
        background: rgba(255, 255, 255, 0.26);
        margin-top: 4px;
        // transition: height .7s, opacity .1s;
        overflow: hidden;
        box-sizing: border-box;
        max-height: 0;
        opacity: 0;
        padding: 0 20px;
        transition: max-height .7s, opacity .7s, padding 0.7s;
    }

    &__info {
        display: flex;
        flex-grow: 1;
        cursor: pointer;
    }

    &__open {
        .accordion__details {
            max-height: 500px;
            padding: 20px;
            opacity: 1;
            transition-delay: 0s;
            transition: max-height .7s, opacity .7s, padding 0.7s;
        }
    }

    &__arrow {
        padding: 0px 20px 0px 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 67px;
    }

    &__description {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__title {
        flex-grow: 1;
        font-family: Gilroy;
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #444444;
    }

    &__time {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.02em;
        color: #444444;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 15px 16px 20px;
        position: relative;
    }
}

.details {
    display: flex;
    flex-grow: 1;
    &__time {
        margin-right: 11px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #444444;
        white-space: nowrap;
        max-width: 142px;
        width: 100%;
    }

    &__description {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.008em;
        color: #444444;
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.checkbox {
    padding-left: 32px;
    height: 32px;
    margin: 0;
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);


        /* Checked */
        &:checked + .checkbox__custom {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' viewBox='0 0 32 33' fill='none'%3E%3Cpath d='M28 0.5H4C2.89583 0.5 1.94792 0.895833 1.15625 1.6875C0.385417 2.45833 0 3.39583 0 4.5V28.5C0 29.6042 0.385417 30.5417 1.15625 31.3125C1.94792 32.1042 2.89583 32.5 4 32.5H28C29.1042 32.5 30.0417 32.1042 30.8125 31.3125C31.6042 30.5417 32 29.6042 32 28.5V4.5C32 3.39583 31.6042 2.45833 30.8125 1.6875C30.0417 0.895833 29.1042 0.5 28 0.5ZM14 25.3438L6.59375 17.9062L9.40625 15.0938L14 19.6562L23.5938 10.0938L26.4062 12.9062L14 25.3438Z' fill='%23007DB7'/%3E%3C/svg%3E");
        }

    }

    &__custom {
        position: absolute;
        cursor: pointer;
        margin-left: -32px;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' viewBox='0 0 32 33' fill='none'%3E%3Cpath d='M28 0.5H4C2.89583 0.5 1.94792 0.895833 1.15625 1.6875C0.385417 2.45833 0 3.39583 0 4.5V28.5C0 29.6042 0.385417 30.5417 1.15625 31.3125C1.94792 32.1042 2.89583 32.5 4 32.5H28C29.1042 32.5 30.0417 32.1042 30.8125 31.3125C31.6042 30.5417 32 29.6042 32 28.5V4.5C32 3.39583 31.6042 2.45833 30.8125 1.6875C30.0417 0.895833 29.1042 0.5 28 0.5ZM28 28.5H4V4.5H28V28.5Z' fill='%23007DB7'/%3E%3C/svg%3E");
        background-color: #fff;
    }
}

.btn {
    max-width: 464px;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    cursor: pointer;

    &__primary {
        background: #007DB7;
        &:hover {
            opacity: 0.7;
        }
    }
    
    &__image {
        background-image: url(../images/btn_1.png);
        width: 82px;
        height: 82px;
    }
}

.btn_block {
    padding-top: 48px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tooltip {
    position: relative;
    display: inline-block;
    &__text {
        background-color: #FFFFFF;
        position: absolute;
        color: #000;
        text-align: center;
        padding: 5px 0;
        border-radius: 16px;
        white-space: nowrap;
        left: -115px;
        top: -15px;
        transition: opacity 1s;
        opacity: 1;
       
        font-family: Gilroy;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #444444;
        padding: 10px;
        width: 296px;
        margin-bottom: 20px;

        &.hide {
            opacity: 0;
        }

        @media (max-width: 1250px) { 
            left: 15px;
        }
        
        &::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: #FFFFFF transparent transparent transparent;
        }
    }
    

    &:hover &__text {
        visibility: visible;
        opacity: 1;
    }
}

.section {
    position: relative;
}

.sponsors {
    background: rgba(255, 255, 255, 0.26);
    width: 100%;
    min-height: 160px;
    margin-bottom: 74px;
    display: flex;

    &__container {
        padding: 8px;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #444444;
    }
}

@media (max-width: 1024px) { 
    .sponsors {
        &__container {
            flex-direction: column;
        }

        &__item, &__text {
            margin: 20px auto;
            text-align: center;
        }

    }

    .subtitle, .btn_block {
        padding: 20px;
    }
}

@media (max-width: 375px) { 
    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 18px;
        padding: 0 20px;
    }

    .date {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    
    .accordion {
        &__summary {
            padding: 10px 0;
        }

        &__title {
            font-size: 16px;
            line-height: 18px;
        }

        &__time {
            font-size: 16px;
        }
    }

    .details {
        &__time {
            max-width: 85px;
        }
        
        &__time, &__description {
            font-size: 16px;
        }
    }

    .btn {
        max-width: 200px;
        width: 100%;
        font-size: 16px;
    }

    .sponsors {
        &__item {
            display: none;
        }

        &__text {
            font-size: 16px ;
        }

        &__minified {
            background: url(../images/sponsors.png);
            width: 100%;
            height: 100%;
            background-size: contain;
            height: 48px;
            background-repeat: no-repeat;
        }
    }
    
}