@charset "UTF-8";

body,
html {
  max-height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}

.abs { position: absolute; }

#page {
  height: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  transform-origin: top center;
  width: 1024px;
}

.wrap {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #dee2e5;
}

.wrap .over-wrap {
  position: relative;
}

.sl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
}

.sl1 { background-image: url(../images/01/bg1.png); background-size: contain;}

.sl1 .o1.ac,
.sl1 .o2.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .o1,
.sl1 .o2 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 98.2px;
  height: 97.71px;
  top: 261.18px;
  cursor: pointer;
  background-image: url(../images/01/o1.svg);
}

.sl1 .o1 { left: 245px; }
.sl1 .o2 { left: 660px; }

.sl1 .o3.ac,
.sl1 .o4.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .o3 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 90px;
  height: 80px;
  left: 51px;
  top: 410px;
  cursor: pointer;
  background-image: url(../images/01/o2.svg);
}

.sl1 .o4 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 90px;
  height: 80px;
  left: 902px;
  top: 406px;
  cursor: pointer;
  background-image: url(../images/01/o3.svg);
}

.sl1 .o5,
.sl1 .o6,
.sl1 .o7,
.sl1 .o8 {
  opacity: 0;
  transform: translateX(-20px) scale(0.7);
  transition: all 0.5s;

  width: 79.91px;
  height: 69px;
  top: 570px;
  cursor: pointer;
  background-image: url(../images/01/o4.svg);
}

.sl1 .o5.ac,
.sl1 .o6.ac,
.sl1 .o7.ac,
.sl1 .o8.ac {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.sl1 .o5 { left: 280px; }
.sl1 .o6 { left: 421px; }
.sl1 .o7 { left: 554px; }
.sl1 .o8 { left: 665px; }

.sl1 .tub1.ac,
.sl1 .tub2.ac,
.sl1 .tub3.ac,
.sl1 .tub4.ac,
.sl1 .camera.ac,
.sl1 .backdrop.ac {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sl1 .tub1,
.sl1 .tub2,
.sl1 .tub3,
.sl1 .tub4 {
  opacity: 0;
  transform: translateY(60px) scale(0.85);
  transition: all 0.8s;
}

.sl1 .camera,
.sl1 .backdrop {
  opacity: 0;
  transform: translateY(60px) scale(0.85);
  transition: all 0.8s;
}

.sl1 .camera {
  top: 328px;
  left: 425px;
  width: 174px;
  height: 227px;
  background-image: url(../images/camera.png);
  z-index: 2;
 }

.sl1 .backdrop {
  top: 285px;
  left: 40px;
  width: 951px;
  height: 329px;
  background-image: url(../images/bg.png);
  z-index: 1;
}

.sl1 .tub1 {
  top: 340px;
  left: 296px;
  width: 138px;
  height: 298px;
  background-image: url(../images/01/tub1.png);
}

.sl1 .tub2 {
  top: 340px;
  left: 440px;
  width: 132px;
  height: 269px;
  background-image: url(../images/01/tub2.png);
}

.sl1 .t1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
}

.sl1 .t2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  white-space: nowrap;
  text-align: center;
}

.sl1 .choose {
  display: block;
  top: 130px;
  left: 420px;
  opacity: 0;
  transform: scale(0.85);
  transition: all 0.8s;
}
.sl1 .back.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .back {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
  width: 40px;
  height: 40px;
  top: 40px;
  left: 40px;
  cursor: pointer;
  background-image: url(../images/white.png);
}
input[type="file"] {
  display: none;
}
.sl1 .btn {
  background: #97B8C8;
  border-radius: 5px;
  margin: 16px auto 25px auto;
  height: 48px;
  width: 128px;


  font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.008em;
text-transform: uppercase;

color: #FFFFFF;
justify-content: center;
}

.sl1 .step.ac,
.sl1 .choose.ac {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sl1 .step {
  display: flex;
  opacity: 0;
  transform: translateY(60px) scale(0.85);
  transition: all 0.8s;
}

.sl1 .step .desc {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #565656;
  margin-left: 16px;
}

.sl1 .step .desc span {
  color: #00aaff;
}

.sl1 .step .num {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  color: #565656;
}

.sl1 .step1 {
  top: 130px;
  left: 127px;
}

.sl1 .step2 {
  top: 183px;
  left: 122px;
}

.sl1 .step3 {
  top: 130px;
  left: 710px;
}

.sl1 .step4 {
  top: 183px;
  left: 710px;
}

.sl1 .tub3 {
  top: 387px;
  left: 583px;
  width: 66px;
  height: 217px;
  background-image: url(../images/01/tub3.png);
}

.sl1 .tub4 {
  top: 391px;
  left: 700px;
  width: 90px;
  height: 213px;
  background-image: url(../images/01/tub4.png);
}