@charset "UTF-8";

body,
html {
  max-height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}

.abs { position: absolute; }

#page {
  height: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  transform-origin: top center;
  width: 1024px;
}

.wrap { width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #C3D4DE;
}

.wrap .over-wrap {
  position: relative;
}

.sl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
}

.sl1 { background-image: url(../images/01/bg.png); }

.sl1 .o1.ac,
.sl1 .o2.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .o1,
.sl1 .o2 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 98.2px;
  height: 97.71px;
  top: 261.18px;
  cursor: pointer;
  background-image: url(../images/01/o1.svg);
}

.sl1 .o1 { left: 245px; }
.sl1 .o2 { left: 660px; }

.sl1 .o3.ac,
.sl1 .o4.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .o3 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 73px;
  height: 73px;
  left: 51px;
  top: 410px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(../images/01/o2.svg);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  animation: grow 1.5s infinite;
}

@keyframes grow {
  0% { box-shadow: 0 0 50px rgba(0, 0, 0, 0); }
  50% { box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }
  100% { box-shadow: 0 0 50px rgba(0, 0, 0, 0); }
}

.sl1 .o4 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 90px;
  height: 80px;
  left: 902px;
  top: 406px;
  cursor: pointer;
  background-image: url(../images/01/o3.svg);
}

.sl1 .o5,
.sl1 .o6,
.sl1 .o7,
.sl1 .o8 {
  opacity: 0;
  transform: translateX(-20px) scale(0.7);
  transition: all 0.5s;

  width: 79.91px;
  height: 69px;
  top: 570px;
  cursor: pointer;
  background-image: url(../images/01/o4.svg);
}

.sl1 .o5.ac,
.sl1 .o6.ac,
.sl1 .o7.ac,
.sl1 .o8.ac {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.sl1 .o5 { left: 280px; }
.sl1 .o6 { left: 421px; }
.sl1 .o7 { left: 554px; }
.sl1 .o8 { left: 665px; }

.sl1 .tub1.ac,
.sl1 .tub2.ac,
.sl1 .tub3.ac,
.sl1 .tub4.ac {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sl1 .tub1,
.sl1 .tub2,
.sl1 .tub3,
.sl1 .tub4 {
  opacity: 0;
  transform: translateY(60px) scale(0.85);
  transition: all 0.5s;
}

.sl1 .tub1 {
  top: 340px;
  left: 296px;
  width: 138px;
  height: 298px;
  background-image: url(../images/01/tub1.png);
}

.sl1 .tub2 {
  top: 340px;
  left: 440px;
  width: 132px;
  height: 269px;
  background-image: url(../images/01/tub2.png);
}

.sl1 .tub3 {
  top: 387px;
  left: 583px;
  width: 66px;
  height: 217px;
  background-image: url(../images/01/tub3.png);
}

.sl1 .tub4 {
  top: 391px;
  left: 700px;
  width: 90px;
  height: 213px;
  background-image: url(../images/01/tub4.png);
}

.m_pop1 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/01/pop1.png);
}

.m_pop1 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/01/prev.svg);
}

.m_pop1 .m_pop1-p1 {
  top: 46px;
  left: 96px;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;

  color: #565656;
  text-shadow: 0px 0px 128px #A6C1EC;
}

.m_pop1 iframe {
  position: absolute;
  top: 116px;
  left: 0;
}

.m_pop2 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/01/pop1.png);
}

.m_pop2 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/01/prev.svg);
}

.m_pop2 .m_pop1-p1 {
  top: 33px;
  left: 96px;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;

  color: #565656;
  text-shadow: 0px 0px 128px #A6C1EC;
}

.m_pop2 iframe {
  position: absolute;
  top: 116px;
  left: 0;
}

.sl1 .cm-back {
  top: 617px;
  left: 68px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(../images/01/back.svg);
}