@charset "UTF-8";

body,
html {
  max-height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}

.abs { position: absolute; }

#page {
  height: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 0;
  transform-origin: top center;
  width: 1024px;
}

.wrap { width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #E9F1F5;
}

.wrap .over-wrap {
  position: relative;
}

.sl {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
}

.sl1 { background-image: url(../images/01/bg.png); }

.sl1 .o1.ac,
.sl1 .o2.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .o1,
.sl1 .o2 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 98.1px;
  height: 97.67px;
  left: 244px;
  top: 262.31px;
  cursor: pointer;
  background-image: url(../images/01/o1.svg);
}

.sl1 .o1 { left: 244px; }
.sl1 .o2 { left: 662px; }

.sl1 .o3.ac,
.sl1 .o4.ac {
  opacity: 1;
  transform: scale(1);
}

.sl1 .o3 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 73px;
  height: 73px;
  border-radius: 50%;
  overflow: hidden;
  left: 51px;
  top: 410px;
  cursor: pointer;
  background-image: url(../images/01/o2.svg);
  animation: grow 1.5s infinite;
}

@keyframes grow {
  0% { box-shadow: 0 0 50px rgba(0, 0, 0, 0); }
  50% { box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }
  100% { box-shadow: 0 0 50px rgba(0, 0, 0, 0); }
}

.sl1 .o4 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;

  width: 90px;
  height: 80px;
  left: 902px;
  top: 406px;
  cursor: pointer;
  background-image: url(../images/01/o3.svg);
}

.sl1 .o5,
.sl1 .o6,
.sl1 .o7,
.sl1 .o8 {
  opacity: 0;
  transform: translateX(-20px) scale(0.7);
  transition: all 0.5s;

  width: 79.91px;
  height: 69px;
  top: 566px;
  cursor: pointer;
  background-image: url(../images/01/o4.svg);
}

.sl1 .o5.ac,
.sl1 .o6.ac,
.sl1 .o7.ac,
.sl1 .o8.ac {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.sl1 .o5 { left: 280px; }
.sl1 .o6 { left: 391px; }
.sl1 .o7 { left: 506px; }
.sl1 .o8 { left: 623px; }

.sl1 .tub1.ac,
.sl1 .tub2.ac,
.sl1 .tub3.ac,
.sl1 .tub4.ac {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sl1 .tub1,
.sl1 .tub2,
.sl1 .tub3,
.sl1 .tub4 {
  opacity: 0;
  transform: translateY(60px) scale(0.85);
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.sl1 .tub1 {
  top: 409px;
  left: 320px;
  width: 62px;
  height: 187px;
  background-image: url(../images/01/tub1.png);
}

.sl1 .tub2 {
  top: 362px;
  left: 428px;
  width: 70px;
  height: 234px;
  background-image: url(../images/01/tub2.png);
}

.sl1 .tub3 {
  top: 410px;
  left: 544px;
  width: 58px;
  height: 185px;
  background-image: url(../images/01/tub3.png);
}

.sl1 .tub4 {
  top: 411px;
  left: 643px;
  width: 54px;
  height: 186px;
  background-image: url(../images/01/tub4.png);
}

.sl1 .tub1:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 28px;
  width: 67px;
  height: 114px;
  background-image: url(../images/01/sh1.png);
  transform: translateZ(-1px);
}

.sl1 .tub2:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 28px;
  width: 79px;
  height: 150px;
  background-image: url(../images/01/sh2.png);
  transform: translateZ(-1px);
}

.sl1 .tub3:after {
  content: '';
  position: absolute;
  top: -10px;
  left: 28px;
  width: 66px;
  height: 111px;
  background-image: url(../images/01/sh3.png);
  transform: translateZ(-1px);
}

.sl1 .tub4:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 35px;
  width: 66px;
  height: 105px;
  background-image: url(../images/01/sh4.png);
  transform: translateZ(-1px);
}

.sl1 .tub1:after,
.sl1 .tub2:after,
.sl1 .tub3:after,
.sl1 .tub4:after {
  transition: all 1s 0.25s;
  opacity: 0;
}

.sl1 .tub1.ac:after,
.sl1 .tub2.ac:after,
.sl1 .tub3.ac:after,
.sl1 .tub4.ac:after {
  opacity: 1;
}

.m_pop1 {
  display: none;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  background-image: url(../images/01/pop1.png);
}

.m_pop1 .x {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/01/prev.svg);
}

.m_pop1 .m_pop1-p1 {
  top: 46px;
  left: 96px;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;

  color: #565656;
  text-shadow: 0px 0px 128px #A6C1EC;
}

.m_pop1 .m_pop1-p2 {
  left: 96px;
  top: 66px;

  font-weight: 800;
  font-size: 16px;
  line-height: 100%;

  color: #565656;
  text-shadow: 0px 0px 128px #A6C1EC;
}

.m_pop1 iframe {
  position: absolute;
  top: 116px;
  left: 0;
}